@use '../../styles/variables.scss' as var;

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var.$footer-background-color;
    height:3rem;
    color:var.$primary-color
}